.root {
  width: 100%;
  max-width: 352px;
  height: 55px;
  border-radius: 4px;
  border: none;
  background: #9cbbe9;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.root:hover {
  background: #87a1c8;
}

.root:active {
  background: #abcdff;
}
